@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@500&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Golos Text', sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
    background-color: #12376e;
    align-items: center;
    
    width: 100%;   
   
}

header img{
    width: 4rem;
    padding: .5em;
}

header form{
    margin-right: 3rem;
}

header form input{
    border-radius: 3px;
    border: 0;
    padding: 5px;
    width: 300px;
    outline: none;
}

header form button{
    padding: 5px;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #02496e;
    color: white;
    cursor: pointer;
    border: none;
    transition: background-color ease-in-out .1s;
}

header form button:hover{
    background-color: #3be0dc;
}

.popularMain{
    display: flex;
    
    margin: 50px;
}

.popularAside{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    max-width: 300px;
    height: 100%;
    width: 100%;
   
}

.buttonOrderBy{
    display: flex;
}

.movies {
    display: flex;
    flex-wrap: wrap;
    
    list-style: none;
    padding: 0 0 0 50px;
    margin: 0;
    gap: 20px;
}

.card-movie{
    height: auto;
    width: 200px;
    box-shadow: 0 0 5px 1px #777;
    border-radius: 10px;
    overflow-wrap: break-word;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
}

.card-movie p{
    padding: 5px;
}

.card-movie .title{
    overflow-wrap: break-word;
}

.card-movie .date{
    font-size: 13px;
    color: #777;
}

.notMovies{
    font-size: 40px;
    text-align: center;
}


.categorias{
    display: flex;
    flex-wrap: wrap;
}

.genreButton{
    background-color: white;
    border: none;
    border-radius: 20px;
    padding: 5px;
    width: 130px;
    box-shadow: 0 0 3px 1px #000;
    margin: 7px;
    cursor: pointer;
}

.genreButton:hover{
    background-color: #3be0dc;
    color: white;
    transform: scale(1.1);
}

.languageChoose{
    width: 300px;
    height: 30px;
    border-radius: 20px;
    margin-bottom: 20px;
    outline: none;
    
}
.buttons{
    margin: 20px 0 20px 0;
}

.buttonOrderBy{
    margin-top: 5px;
    width: 200px;
    padding: 5px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

.buttonOrderBy:hover, .range button:hover, .dates button:hover{
    background-color: #02496e;
    color: white;
}

.rango{
    margin: 20px 0 20px 0;
    
}

.range{
    margin: 20px 0 20px 0;
}

.range button{
    padding: 5px;
    transform: translateY(-2px);
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin-left: 5px;
    background-color: #3be0dc;
}

.dates button{
    padding: 4px;
    border: none;
    cursor: pointer;
    background-color: #3be0dc;
    
}

.sectionMovies{
    margin-left: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vote_average{
    align-self: flex-end;
    position: absolute;
    bottom: 0;
    color: white;
    background-color: #000;
    border-top-left-radius: 12px;
}

.pageButtons{
   
    margin-top: 20px;
    display: flex;
    padding: 5px;
    justify-content: center;
    
}

.pageButtons button{
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    width: 50px;
    background-color: black;
    color: white;
    cursor: pointer;
}

.header__li{
    display: inline-block;
    margin: 10px 20px 10px 10px;
}

.header__li:first-child{
    margin-left: 50px;
}

.header__A{
    text-decoration: none;
    color: white;
}

.header__li:hover{
    transform: scale(1.1);
}

.logo_list{
    display: flex;
    align-items: center;
}

.home_main{
    height: 40vh;
    background-color: #02496e;
    margin: 0;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
}

.home_main div{
    margin: 50px;
}

.home_main h1{
    
    font-size: 50px;
}

.home_main p{
    font-size: 20px;
    margin-bottom: 20px;
}

.trend_section{
    display: flex;
    height: 50vh;
    background-color: #009cd8;
    align-items: center;
    width: 100%;
    flex-direction: column;
}

.cardMovie{
    display: flex;
    height: 360px;
    background-color: white;
    margin: 50px;
}

.people{
  display: flex;
  flex-wrap: wrap;
  gap: 70px;
  margin: 30px;
}

.peopleCard{
  box-shadow: 0 2px 5px 1px #666;
  width: 240px;
  height: 420px;
  overflow: hidden;
  text-decoration: none;
  color: black;
  transition: transform ease .3s;
}

.peopleCard:hover{
    transform: scale(1.01);
}

.peopleCard img{
  width: 100%;
}

.peopleData{
  padding: 3px 5px 5px 5px;
}

.peopleData p:first-child{
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 3px;
}

.peopleTitle{
    padding: 15px 0 10px 27px;
}

.card-movie{
    text-decoration: none;
    color: black;
}


.firstData{
    height: 60vh;
    background-color: #143970;
    display: flex;
  
    align-items: center;
}

.firstData img{
    width: 320px;
    margin-left: 200px;
    border-radius: 15px;
}

.secondData{
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: white;
}

.movieTitle{
    font-size: 40px;
    font-weight: 700;
    text-decoration: none;
    color: white;
}

.movieTitle:Hover{
    opacity: .7;
}

.secondData span{
    color: #999;
    font-weight: 100;
    opacity: .7;
}

.genres{
    font-size: 15px;
    color: #ffffff;
    display: flex;
}

.genres span{
    color: white;
}

.vote_average_detail{
    padding: 10px;
    border: 5px solid #21d07a;
    border-radius: 50%;
    width: 28px;
    font-weight: bolder;
    font-size: 18px;
    background-color: black;
    display: inline;
    margin: 10px;
}

.thirdData{
    display: flex;
    align-items: center;
}

.thirdData button{
    padding: 5px;
    border-radius: 10px;
    border: none;
    width: 100px;
    font-weight: 500;
    cursor: pointer;
    opacity: 1;
}

.thirdData button:Hover{
    opacity: .7;
}

.closeButton{
    background-color: transparent;
    border: none;
    padding: 0 0 10px 0;
    font-size: 20px;
    cursor: pointer;
    color: white;
}

.closeButton:hover{
    opacity: .7;
}

.tagline{
    opacity: .6;
    margin-bottom: 15px;
}

.VistaGeneral{
    font-weight: 500;
    font-size: 23px;
    margin-bottom: 15px;
}

.overview{
    font-size: 15px;
    font-weight: 100;
    opacity: .8;
}

.director{
    margin-top: 20px;

}

.director a{
    text-decoration: none;
    color: white;
}

.director a:Hover{
    opacity: .7;
}

.director p:last-child{
    opacity: .7;
    font-size: 15px;
}

.castSection{
    height: 50vh;
    margin-left: 160px;
    width: 70vw;
}
.castSection h1{
    padding: 20px;
    font-size: 20px;
    margin-left: 20px;
}

.actorCards{
    display: flex;
    margin-left: 20px;
    gap: 20px;
    height: auto;
    overflow-x: scroll;
    width: auto;
    
    
}

.actorCards img{
    border-radius: 10px; 
    height: 200px;
    width: 150px;
    object-fit: cover;
    
    
}

.actorCard{
    border-radius: 10px; 
    box-shadow: 0 1px 4px 1px #999;
    text-decoration: none;
    color: black;
    margin-bottom: 10px;
    
}
.actorCard:first-child{
    margin-left: 20px;
}
.actorCard:last-child{

    margin-right: 20px;
}

.actorData{
    padding: 10px;
}


.actorCard p:last-child{
    opacity: .5;
}

.container{
    display: flex;
}

.runtime{
    margin-left: 10px;
    opacity: .9;
}

.aside_data{
    padding: 60px 0 0 50px;
    
}

.aside_data p{
    padding: 0 0 35px 0;
    font-size: 15px;
    opacity: .7;
}

.aside_data h4{
    font-weight: bold;
}

.mediaSection{
    height: 50vh;
    margin-left: 160px;
    width: 70vw;
    display: flex;
    flex-direction: column;
   
}

.mediaSection h3{
    padding: 20px;
    font-size: 20px;
    margin-left: 20px;
}

.videos, .posters, .images{
    display: flex;
    margin-left: 30px;
    gap: 5px;
    height: auto;
    overflow-x: scroll;
    width: auto;
    height: 210px;
}

.videoButton:Hover, .backdropButton:Hover, .posterButton:Hover{
   text-decoration: underline 3px;
   
}

.mediaSection .li{
    display: flex;
    align-items: center;
}

.mediaSection ul{
    display: flex;
    list-style: none;
    margin: 10px;
}

.mediaSection ul li{
    margin: 10px;
}

.mediaSection button{
    border-radius: 10px;
    border: none;
    width: 100px;
    height: 30px;
    background: transparent;
    color: black;
    cursor: pointer;
    font-size:17px;
}

.peopleMain{
    height: 100vh;
    display: flex;
}

.peopleMain aside{
    width: 30vw;
    display: flex;
    
    align-items: center;
    flex-direction: column;
} 

.info{

    margin-top: 50px;
}
.peopleMain aside img{
   margin-top: 50px;
    border-radius: 30px;
}
.peopleMain aside h2{
    font-weight: 100;
}
.peopleMain aside h3{
    font-weight: bold;
    margin-top: 30px;
    
    
}

.alsoKnown{
    margin-bottom: 50px;
}

.peopleMain section{
    width: 50vw;
    margin-top: 50px;
}

.peopleMain section h1{
    font-size: 30px;
    margin-bottom: 50px;
}

.peopleMain section h2{
    font-size: 20px;
    font-weight: 100;
}

.peopleMain section .biografia{
    color: #666;
    margin: 20px 0px;
}

.knownby{
    display: flex;
    margin: 30px 0;
    overflow-x: scroll;
    gap: 20px;
}

.peliCard p{
    text-align: center;
}

.peliCard img{
    width: 150px;
    border-radius: 20px;
}